---
import ResearchTopic from "./ResearchTopic.astro";

import { sanityClient } from "sanity:client";
import type { SanityDocument } from "@sanity/client";
import imageUrlBuilder from "@sanity/image-url";

const builder = imageUrlBuilder(sanityClient);
const urlFor = (source: string) => builder.image(source);

const researchTopics: Array<SanityDocument> = await sanityClient.fetch(
  `*[_type == "researchTopic"] |
  order(_createdAt asc)
  {title, shortDescription, longDescription, image}`
);
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 pt-6">
  {
    researchTopics.map((researchTopic: SanityDocument, key: number) => (
      <ResearchTopic
        title={researchTopic.title}
        shortDescription={researchTopic.shortDescription}
        longDescription={researchTopic.longDescription}
        image={urlFor(researchTopic.image).url()}
      />
    ))
  }
</div>
