---
import ResearchTopic from "@/components/pageContent/research/ResearchTopic.astro";

import { sanityClient } from "sanity:client";
import type { SanityDocument } from "@sanity/client";

const researchTopics: Array<SanityDocument> = await sanityClient.fetch(
  `*[_type == "researchTopic"] |
  order(_createdAt asc)
  {title, longDescription, publications[]->{_id, title, text, order}}`
);
---

<div class="grid grid-cols-1 gap-4 pt-6">
  {
    researchTopics.map((researchTopic: SanityDocument, key: number) => (
      <ResearchTopic
        title={researchTopic.title}
        longDescription={researchTopic.longDescription}
        publications={researchTopic.publications}
        key={key}
      />
    ))
  }
</div>
