---
export const prerender = true;

const {
  post: { title, slug, tagline },
} = Astro.props;

import Card from "@/components/global/Card.astro";
---

<Card clickable>
  <a class="rounded-md" href={`/teaching/${slug}`}>
    <div class="p-2">
      <h3 class="pt-1 text-xl font-serif font-semibold">{title}</h3>
      <p class="pt-2">{tagline}</p>
    </div>
  </a>
</Card>
