---
export const prerender = true;

const { teachingExperienceContent } = Astro.props;

import Prose from "@/components/global/Prose.astro";
import { PortableText } from "astro-portabletext";
---

<section class="w-full">
  <div class="max-w-2xl mx-auto">
    <h2 class="text-2xl font-semibold">Experience</h2>
    <Prose class="max-w-none text-black">
      <PortableText value={teachingExperienceContent} />
    </Prose>
  </div>
</section>
