---
export const prerender = true;

import TeachingPostPreview from "@/components/pageContent/teaching/TeachingPostPreview.astro";
import type { SanityDocument } from "@sanity/client";
import type { Key } from "react";

import { sanityClient } from "sanity:client";

const posts = await sanityClient.fetch(`*[_type == "teachingPost"]
{title, "slug": slug.current, tagline}`);
---

<section>
  <h2 class="mb-2 text-2xl font-display font-semibold">Teaching</h2>
  <div class="flex flex-col gap-2">
    {
      posts.map((post: SanityDocument, key: Key) => {
        return <TeachingPostPreview post={post} key={key} />;
      })
    }
  </div>
</section>
