---
export const prerender = true;

const {
  post: { title, slug, tagline },
} = Astro.props;
---

<a
  class="border-2 border-neutral-400 hover:border-neutral-700 bg-stone-50 group transition shadow-md hover:shadow-xl"
  href={`/teaching/${slug}`}
>
  <div class="p-2">
    <h3 class="text-xl font-serif font-semibold">{title}</h3>
    <p class="leading-snug">{tagline}</p>
  </div>
</a>
