---
export const prerender = true;

import TeachingPostPreview from "@/components/pageContent/teaching/TeachingPostPreview.astro";
import type { SanityDocument } from "@sanity/client";
import type { Key } from "react";

import { sanityClient } from "sanity:client";

const posts = await sanityClient.fetch(`*[_type == "teachingPost"]
{title, "slug": slug.current, tagline}`);
---

<section class="my-10">
  <h2 class="font-semibold text-2xl mb-2">
    Recent thoughts on teaching and mentoring
  </h2>
  <div class="grid gap-2 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
    {
      posts.map((post: SanityDocument, key: Key) => {
        return <TeachingPostPreview post={post} key={key} />;
      })
    }
  </div>
</section>
