---
import Layout from '@/layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h1 class="text-3xl pb-6">Mark Iskarous</h1>
	<h2 class="text-xl pb-4">
		<code class="text-neutral-800 whitespace-pre">is a:&#9;</code>Postdoctoral Scholar <br/>
		<code class="text-neutral-800 whitespace-pre">in the:&#9;</code>Sensorimotor Bionics Research Group <br/>
		<code class="text-neutral-800 whitespace-pre">at the:&#9;</code>University of Chicago
	</h2>

</Layout>
