---
export const prerender = true;

import Layout from "@/layouts/Layout.astro";
import PageHeader from "@/components/PageHeader.astro";
import Hero from "@/components/Hero.astro";
import ResearchList from "@/components/ResearchTopicList.astro";
---

<Layout>
  <PageHeader>Research</PageHeader>
  <div class="divide-y-2 flex flex-col gap-6">
    <Hero title="My big statement">
      <p>
        Montes dolor hendrerit etiam malesuada quisque at suspendisse. Augue
        potenti vivamus dictum quis viverra; <b>elementum auctor potenti</b>.
        Tincidunt massa integer rutrum ad ultrices ridiculus tortor.
      </p>
      <p>
        Himenaeos torquent convallis proin ut quisque class arcu. Montes dolor
        hendrerit etiam malesuada quisque at suspendisse. <b
          >Consectetur sit dolor lacus</b
        > imperdiet sed aliquam tempus. Primis ultricies elit iaculis ultrices
        <span class="underline">egestas volutpat sagittis</span>. Iaculis odio
        sociosqu tortor fusce nibh.
      </p>
    </Hero>
    <ResearchList />
  </div>
</Layout>
