---
import InlineLink from "./InlineLink.astro";
---

<div class="flex flex-row flex-wrap sm:space-x-4 basis-1/3 sm:flex-nowrap">
  <div class="m-auto sm:m-0 flex flex-col">
    <div class="w-full pb-2">
      <img
        class="rounded-md border border-neutral-900 shadow-lg"
        src="mark-iskarous.jpeg"
        alt="Headshot of Mark Iskarous."
      />
    </div>
    <p class="text-lg pb-4">
      <code class="text-neutral-600 whitespace-pre">is a:&#9;</code><InlineLink
        href="https://www.linkedin.com/in/mark-iskarous/"
        >Postdoctoral Scholar
      </InlineLink><br />
      <code class="text-neutral-600 whitespace-pre">in the:&#9;</code
      ><InlineLink href="https://voices.uchicago.edu/bionics/"
        >Sensorimotor Bionics Research Group</InlineLink
      ><br />
      <code class="text-neutral-600 whitespace-pre">at the:&#9;</code
      ><InlineLink href="https://www.uchicago.edu/"
        >University of Chicago</InlineLink
      >
    </p>
  </div>
  <div class="m-auto sm:m-0 flex flex-col gap-y-2 basis-2/3 grow">
    <h3 class="text-xl font-semibold w-full border-b-2">About</h3>
    <p>
      Hey there, lorem ipsum odor amet, consectetuer adipiscing elit. Elit
      praesent malesuada fames augue nascetur facilisis. Purus diam varius
      convallis, dui placerat in ut hac tellus. Natoque auctor sodales imperdiet
      laoreet tellus <b>dictumst purus conubia</b> aptent. Libero risus sed amet
      hendrerit quam cubilia. Sed consectetur nascetur parturient laoreet cras fermentum
      pulvinar egestas. Molestie vivamus class egestas; mi ridiculus nisi.
    </p>
    <p>
      Suspendisse conubia senectus habitasse ultricies purus augue ac viverra.
      Mattis erat pharetra blandit id semper; donec morbi morbi. Integer nunc
      consequat libero dapibus quam magnis cras. Eros vitae mattis cubilia
      vivamus aliquet tortor. <i>Iaculis nec turpis senectus</i> sagittis ullamcorper
      nisi convallis. Aliquam <b>penatibus congue magna scelerisque massa</b> velit
      class est. Faucibus et quisque donec interdum dignissim. Commodo in dictum
      convallis nulla commodo aliquet. Montes maximus nostra, sodales vehicula aenean
      mollis.
    </p>
  </div>
</div>
