---
export const prerender = true;

const { aboutContent, headshot } = Astro.props;
import { PortableText } from "astro-portabletext";

import { sanityClient } from "sanity:client";
import type { SanityDocument } from "@sanity/client";

const socialMediaLinks: Array<SanityDocument> = await sanityClient.fetch(
  `*[_type == "socialLink"] | order(rank asc)`
);
---

<div class="flex flex-col sm:flex-row gap-x-4">
  <div class="w-full sm:w-72 sm:basis-1/3 align-middle h-fit">
    <div class="w-fit flex flex-col mx-auto sm:mx-0 mb-6 sm:mb-0">
      <div class="w-full pb-2">
        <img
          class="mx-auto sm:m-0 rounded-md shadow-xl object-cover w-72 h-72"
          src={headshot}
          alt="Headshot of Mark Iskarous."
        />
      </div>
      <div class="mx-auto">
        <div class="flex gap-2">
          {
            socialMediaLinks.map((socialLink: SanityDocument) => (
              <a
                class="flex h-12 w-12 rounded-full bg-neutral-800 hover:bg-neutral-600"
                href={socialLink.link}
                target="_blank"
              >
                <div class="m-auto h-8 w-8 hover:shadow-md">
                  <img
                    class="object-cover m-auto h-full w-full grayscale"
                    src={socialLink.favicon}
                    alt={"Mark Iskarous' profile on " + socialLink.name}
                  />
                </div>
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
  <div class="m-auto sm:m-0 flex flex-col gap-y-2 basis-2/3 grow text-justify">
    <PortableText value={aboutContent} />
  </div>
</div>
