---
import InlineLink from "./InlineLink.astro";
---

<div
  class="mt-auto w-full h-fit min-h-16 flex
            border-t border-neutral-500 bg-neutral-100"
>
  <div
    class="py-2 h-full w-full flex flex-wrap gap-2 justify-center self-center"
  >
    <p class="p-2 border border-neutral-500 rounded-md">Some footer content!</p>
    <p class="p-2 border border-neutral-500 rounded-md">
      Built by
      <InlineLink href="https://www.baileykane.co/?ref=markiskarous">
        Bailey Kane</InlineLink
      >.
    </p>
    <p class="p-2 border border-neutral-500 rounded-md">
      More footer content!!!
    </p>
  </div>
</div>
