---
import InlineLink from "./InlineLink.astro"
---
<div class="border-t border-gray-500 bg-gray-100 absolute bottom-0 w-full h-16">
  <div class="h-full w-full flex justify-center">
    <p class=" self-center">
      Built by
      <InlineLink href="https://www.baileykane.co/?ref=markiskarous">
        Bailey Kane</InlineLink>.
    </p>
  </div>
</div>