---
import InlineLink from "./InlineLink.astro";
---

<div
  class="sticky bottom-0 w-full h-16
            border-t border-neutral-500 bg-neutral-100"
>
  <div class="h-full w-full flex justify-center">
    <p class="self-center">
      Built by
      <InlineLink href="https://www.baileykane.co/?ref=markiskarous">
        Bailey Kane</InlineLink
      >.
    </p>
  </div>
</div>
