---
import NavBarItem from "./NavBarItem.astro"
---
<div class="flex space-x-2">
    <NavBarItem location="/" title="Home"/>
    <NavBarItem location="/research" title="Research"/>
    <NavBarItem location="/teaching" title="Teaching"/>
</div>