---
const { title, summary, text, link } = Astro.props;

import { PortableText } from "astro-portabletext";
---

<div
  class="p-4 flex flex-col gap-2 border border-neutral-400 bg-neutral-100 rounded-md"
>
  <h3 class="font-semibold text-xl">{title}</h3>
  <p>{summary}</p>
  <a class="w-fit px-2 py-1 mb-2 border-b-2 hover:border-b-black" href={link}>
    <b>Check it out →</b>
  </a>
  <div class="border-l-2 pl-2 text-neutral-700">
    <PortableText class:list="" value={text} />
  </div>
</div>
