---
import ResearchPreview from "./ResearchPreview.astro";
---

<div class="pt-4 sm:pt-0 w-full">
  <h2 class="mb-2 text-2xl font-semibold border-b-2">Research</h2>
  <p class="pb-2">Here's a little intro to my research topics.</p>
  <ul class="list-none grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 gap-2">
    <li
      class="border border-black bg-neutral-100 rounded-md hover:opacity-90 transition hover:scale-[1.02]"
    >
      <ResearchPreview
        title="First topic"
        description="A quick little description of my wonderful research topic."
      />
    </li>
    <li
      class="border border-black bg-neutral-100 rounded-md hover:opacity-90 transition hover:scale-[1.02]"
    >
      <ResearchPreview
        title="Second topic"
        description="A quick little description of my wonderful research topic."
      />
    </li>
    <li
      class="border border-black bg-neutral-100 rounded-md hover:opacity-90 transition hover:scale-[1.02]"
    >
      <ResearchPreview
        title="Third topic"
        description="A quick little description of my wonderful research topic."
      />
    </li>
  </ul>
</div>
