---
const { teachingExperienceContent } = Astro.props;

import { PortableText } from "astro-portabletext";
import { sanityClient } from "sanity:client";
import type { SanityDocument } from "@sanity/client";
---

<section>
  <h2 class="text-2xl font-semibold">Experience</h2>
  <PortableText value={teachingExperienceContent} />
</section>
