---
const { teachingExperienceContent } = Astro.props;

import Prose from "@/components/global/Prose.astro";
import { PortableText } from "astro-portabletext";
---

<section>
  <h2 class="text-2xl font-semibold border-b-2">Experience</h2>
  <Prose class="max-w-2xl mx-auto">
    <PortableText value={teachingExperienceContent} />
  </Prose>
</section>
