---
const { posts } = Astro.props;
---

<div class="my-10">
  <h3 class="font-semibold text-xl">My thoughts on teaching and mentoring</h3>
  ...List of links to teaching statements / documents...
</div>
