---
export const prerender = true;

const { aboutContent, headshot } = Astro.props;
import { PortableText } from "astro-portabletext";

import { sanityClient } from "sanity:client";
import type { SanityDocument } from "@sanity/client";

const socialMediaLinks: Array<SanityDocument> = await sanityClient.fetch(
  `*[_type == "socialLink"] | order(rank asc)`
);
---

<div class="flex flex-col sm:flex-row gap-4 text-neutral-200">
  <div class="w-full self-center">
    <div class="w-fit flex flex-col mx-auto md:mx-0">
      <div class="mb-4 w-72 h-72 shadow-xl">
        <img
          class="rounded-md object-cover w-full h-full bg-blue-200"
          src={headshot}
          alt="Headshot of Mark Iskarous."
        />
      </div>
      <div class="mx-auto">
        <div class="flex gap-2">
          {
            socialMediaLinks.map((socialLink: SanityDocument) => (
              <a
                class="flex h-12 w-12 rounded-full bg-neutral-400 hover:bg-blue-200"
                href={socialLink.link}
                target="_blank"
              >
                <div class="m-auto h-8 w-8">
                  <img
                    class="object-cover m-auto h-full w-full grayscale"
                    src={socialLink.favicon}
                    alt={socialLink.name + " logo"}
                  />
                </div>
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
  <div
    class="mx-auto sm:mx-0 px-0 lg:px-10 flex flex-col gap-y-2 grow text-justify"
  >
    <PortableText value={aboutContent} />
  </div>
</div>
