---
import NavBar from "@/components/global/NavBar.astro";
import Footer from "@/components/global/Footer.astro";
import "@/styles/globals.css";
---

<!doctype html>
<html lang="en" class="m-0 w-full h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Mark Iskarous</title>
  </head>
  <body class="bg-blue-100 antialiased">
    <div class="flex flex-col min-h-screen">
      <div class="mb-6 mx-auto">
        <!-- <slot /> tags are used by Astro to determine where to inject child content.
          See https://docs.astro.build/en/basics/astro-components/#slots-->
        <div
          class="w-fit md:w-screen pt-6 pb-20 bg-gradient-to-br from-neutral-800 to-neutral-700"
        >
          <div class="px-2 max-w-screen-xl mx-auto">
            <NavBar />
            <slot name="header" />
            <slot name="full-width" />
          </div>
        </div>
        <div class="px-2 w-full max-w-screen-xl mx-auto">
          <slot />
        </div>
      </div>
      <Footer />
    </div>
  </body>
</html>
