---
import NavBar from "@/components/global/NavBar.astro";
import Footer from "@/components/global/Footer.astro";
import "@/styles/globals.css";
---

<!doctype html>
<html lang="en" class="m-0 w-full h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Mark Iskarous</title>
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
      <div class="px-2 mb-6 mx-auto w-full max-w-screen-xl">
        <NavBar />
        <!-- <slot /> tags are used by Astro to determine where to inject child content.
          See https://docs.astro.build/en/basics/astro-components/#slots-->
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
