---
import InlineLink from "./InlineLink.astro";

const thisYear = new Date(Date.now()).toLocaleString(undefined, {
  year: "numeric",
});
---

<div
  class="mt-auto w-full h-fit min-h-16 flex
            border-t-2 border-neutral-400 bg-blue-100"
>
  <div
    class="py-2 h-full w-full flex flex-wrap gap-2 justify-center self-center"
  >
    <p class="p-2 border-b border-neutral-500">
      © {thisYear} Mark Iskarous
    </p>
    <p class="p-2 border-b border-neutral-500">
      Built by
      <InlineLink href="https://www.baileykane.co/?ref=markiskarous">
        Bailey Kane</InlineLink
      >.
    </p>
  </div>
</div>
