---
export const prerender = true;

const { title, content } = Astro.props;

import { PortableText } from "astro-portabletext";
---

<div
  class="w-full rounded-md p-2 bg-gradient-to-br from-neutral-100 to-blue-200"
>
  <div class="flex flex-col gap-4 max-w-2xl py-10 sm:py-32 mx-auto">
    <h2 class="text-4xl font-semibold w-full text-center sm:text-left">
      {title}
    </h2>
    <div class="leading-snug space-y-2">
      <PortableText value={content} />
    </div>
  </div>
</div>
