---
export const prerender = true;

const { location, title, target } = Astro.props;
const { pathname } = Astro.url;
---

<a
  class=`border border-b-neutral-900 rounded-sm text-center w-fit hover:border-neutral-900
  ${pathname == location ? "bg-neutral-100 border-neutral-900 shadow-md" : "border-transparent"}`
  href={location}
  target={target}
>
  <div class="px-3 mx-auto">
    {title}
  </div>
</a>
