---
export const prerender = true;

import NavBarItem from "./NavBarItem.astro";
---

<nav class="py-4 px-4 flex justify-end space-x-2">
  <NavBarItem location="/" title="Home" />
  <NavBarItem location="/research" title="Research" />
  <NavBarItem location="/teaching" title="Teaching" />
  <NavBarItem location="/publications" title="Publications" />
  <NavBarItem location="/cv.pdf" title="CV" target="_blank" />
</nav>
