---
export const prerender = true;

const { location, title, target } = Astro.props;
const { pathname } = Astro.url;
---

<a
  class=`border-b-2 rounded-sm text-center w-fit hover:border-b-neutral-900
  ${pathname == location && "border-b-neutral-900"}`
  href={location}
  target={target}
>
  <div class="px-3 mx-auto">
    {title}
  </div>
</a>
