---
const { class: className } = Astro.props;
---

<div
  class=`${className} prose prose-neutral
  prose-h1:font-bold prose-h1:text-3xl
  prose-h2:font-semibold prose-h2:text-2xl
  prose-h3:mt-4 prose-h3:mb-1 prose-h3:font-semibold prose-h3:text-xl prose-h3:text-neutral-700
  prose-h4:text-lg
  prose-a:underline hover:prose-a:opacity-70
  prose-p:mb-0
  leading-relaxed`
>
  <slot />
</div>
